<div class="list-group">
    <a href="/admin/dashboard/addtest" class="list-group-item {{#if addTest}}active{{/if}}">
        نشر اختبار جديد
    </a>
    <a href="/admin/dashboard/addadmin" class="list-group-item {{#if addAdmin}} active {{/if}}">أضف مديرين</a>
    <a href="/admin/dashboard/addadds" class="list-group-item {{#if addAdds}} active {{/if}}">أضف اعلان</a>
</div>